/* Default styling */
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Advent Pro', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
main{
    overflow-x: hidden;
}
.head{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 2em;
}
.logo-name h4{
    font-size: 20px;
}
.list{
    display: flex;
    gap: 15px;
}

.list-link{
    font-family: "Advent Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #3d5b7d;
}
/* //Container-wrapper */
.container-wrapper{
    display: flex;
    gap: 70px;
    width: 100%;
    margin-top: 1.5em;
}
.section-main{
    width: 75%;
    margin-left: 1em;
}
.main-content-card{
    border-radius: 10px;
    border: none;
    box-shadow: 0px 10px 30px rgb(61 91 125 / 15%);
    padding-bottom: 1px;
    margin-bottom: 2em;
    
}
.main-img{
    background-image: url('https://html.themesdeveloper.net/newlog/assets/img/post-list/post1.png');
    background-color: pink;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    width: 100%;
    min-height: 500px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.img-2{
    background-image: url('https://html.themesdeveloper.net/newlog/assets/img/post-list/post2.png');
}
.img-3{
    background-image: url('https://html.themesdeveloper.net/newlog/assets/img/post-list/post3.png');
}
.image-content-wrapper{
    margin: 1.5em;
    
}
.main-img-btn{
    background: linear-gradient(91.85deg, #007aea 0%, #00c2ff 100%);
    color: white;
    border: none;
    border-radius: 5px;
    width: 50px;
}
.image-content{
    display: flex;
    gap: 20px;
    margin-bottom: 2em;
}

.main-img-list {
    display: flex;
    gap: 10px;
    list-style: none;
}
  
.text-button{
    display: flex;
    gap: 10px;
}
.text-button .direction{
    width: 80px;
    height: 70px;
    border: 1px solid #0b3f92;
    border-radius: 50%;
    background-color: #fff;
}
.text-button .direction:hover{
    background: linear-gradient(91.85deg, #007aea 0%, #00c2ff 100%);;
    color: #fff;
}
.text-button .direction a svg{
    fill: linear-gradient(91.85deg, #007aea 0%, #00c2ff 100%);;
}
.text-button .direction svg:hover{
    fill: #fff;
}
.content-text{
    margin-bottom: 2em;
}
.content-text h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 57px;
    color: #222222;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.content-text p{
    font-size: 16px;
    line-height: 170%;
    color: #3d5b7d;
    font-weight: 400;
}

/* button-section */
.button-wrapper{
    display: flex;
    gap: 10px;
    margin-top: 2em;
    margin-bottom: 4em;
}
.button-main{
    width: 60px;
    height: 60px;
    border-color: #177ef7;
    color: #177ef7;
    border-radius: 50%;
    font-size: 20px;
}
#btn-2, #btn-3{
    border: 1px solid #dae6f9;
    color: #3d5b7d;
}
/* Advertisement Section*/
.advertisement{
    display: flex;
    width: 100%;
    background-image: url("https://html.themesdeveloper.net/newlog/assets/img/add-campaign-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 7em;
    margin-bottom: 4em;
}
.empty-advert{
    width: 50%;
}
.main-advert{
    width: 50%;
    display: flex;
    gap: 50px;
    margin-top: 3em;
    margin-bottom: 3.5em;
}
.discount{
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    background: white;
    color: #222222;
    margin-bottom: 10px;
    padding: 2px 10px;
    
}
.discount-text{
    font-size: 48px;
    font-weight: 600;
    line-height: 57px;
    color: #222222;
    text-transform: capitalize;
}
.last-direction{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(91.85deg, #007aea 0%, #00c2ff 100%);
   
}    
.button-container .last-direction a svg{ 
    width: 27px;
    color: #fff;
}
/* Section-side */
.section-side{
    width: 25%;
    padding-right: 1.5em;
}
.search-wrapper{
    max-width: 100%;
    margin-bottom: 30px;
    margin-top: 0px;
    position: relative;
    
}
.search-wrapper input{
    width: 100%;
    background-color: #eef5ff;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
}
.search-button{
    width: 40px;
    height: 40px;
    background: linear-gradient(91.85deg, #007aea 0%, #00c2ff 100%);
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 15px rgb(23 126 247 / 25%);
    box-shadow: 0px 10px 15px rgb(23 126 247 / 25%);
    color: white;
    text-align: center;
    line-height: 50px;
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.search-button svg{
    color: #fff;
    font-weight: bolder;

}
.section-title{
    margin-top: 2em;
    margin-bottom: 1.5em;
}
.section-title h4{
    font-size: 24px;
    line-height: 31px;
    font-weight: 600;
}
.side-image-content {
    display: flex;
    gap: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 400;
    line-height: 28px;
    color: #777;
}
.side-image{
    width: 100%;
    background-image: url("https://html.themesdeveloper.net/newlog/assets/img/recent-post/thumb1.png");
    min-height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.side-img-2{
    background-image: url("https://html.themesdeveloper.net/newlog/assets/img/recent-post/thumb2.png");
}
.side-img-text h5{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 2em;
}
.categories-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.categories-btn{
    padding: 0px 15px;
    border-radius: 8px;
    font-size: 14px;
    font-family: "Titillium Web", sans-serif;
    color: #3d5b7d;
    border: 1px solid #dae6f9;
    margin-bottom: 10px;
    font-weight: 400;
    outline: none !important;
    line-height: 28px;
}

.home-garden-wrapper{
    background-image: url('https://html.themesdeveloper.net/newlog/assets/img/blog/sidebar-add-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    min-height: 375px;
    position: relative;
    background-color: pink;
    margin-top: 20px;
}
.discount-20{
    display: inline-block;
    background-color: white;
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 10px;
}
.home-garden-card{
    padding: 50px 30px;
}
.home-garden-title{
    font-size: 35px;
    line-height: 39px;
    font-family: "Advent Pro", sans-serif;
    color: #222222;
    margin: 0px;
    font-weight: 600;
}
.home-garden-body-text {
    font-size: 1.05em;
    line-height: 170%;
    color: #3d5b7d;
    font-weight: 400;
    font-family: "Titillium Web", sans-serif;
    margin-top: 20px;
}
.garden-btn{
    margin-top: 5em;
}
.cheveron-btn-right{
    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 700;
    font-family: "Titillium Web", sans-serif;
    background: linear-gradient(91.85deg, #007aea 0%, #00c2ff 100%);
    color: white;
    border: none;
}
.home-garden-btn{
    color: white;
    font-size: 16px;
    font-weight: 900;
}
.section-title p{
    padding-top: 10px;
    font-size: 16px;
    line-height: 170%;
    color: #3d5b7d;
    font-weight: 400;
    font-family: "Titillium Web", sans-serif;
}
.social-media-container{
    display: flex;
    gap: 10px;
    margin-bottom: 2em;
}
.social-icon{
    background: #fff;
    font-size: 20px;
    min-width: 70px;
    min-height: 70px;
    border: 1px solid #dae6f9;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 70px;
}
.social-link-icon{
    color: #177ef7;
}
.popular-post-card{
    display: flex;
    gap: 15px;
    margin-bottom: 1em;
}
.popular-post-img{
    background-image: url('https://html.themesdeveloper.net/newlog/assets/img/blog/recent-post-sm1.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    border-radius: 10px;
    min-width: 80px;
    min-height: 70px;
}
.second-img{
    background-image: url('https://html.themesdeveloper.net/newlog/assets/img/blog/recent-post-sm2.png');
}
.third-img{
    background-image: url('	https://html.themesdeveloper.net/newlog/assets/img/blog/recent-post-sm3.png');
}
.popular-post-text-link{
    font-size: 20px;
    font-weight: 600;
    color: #222222;
    font-family: "Advent Pro", sans-serif;
    line-height: 26px;
}
.post-tag-items{
    margin-top: 5px;
}
.post-tag-date{
    font-size: 14px;
    color: #3d5b7d;
    font-weight: 400;
}
.post-tag-items svg{
    font-size: 12px;
    color: #3d5b7d;
    font-weight: 400;
} 
.post-svg-text{
    font-size: 16px;
    color: #3d5b7d;
    font-weight: 400;
}
.point-style{
    margin-top: 5.3px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #007aea;
}
.design-point, .food-point{
    margin-top: 10px;
}
.lifestyle-point{
    margin-top: 8px;
}
    

/* screen sizes */
@media screen and (max-width: 992px){
    .container-wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    
    .section-main{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0em;
    }
    .section-side{
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
    .advertisement{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .empty-advert{
        display: none;
    }
    .main-advert{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin-top: 3em;
        margin-bottom: 3.5em;
    }
    
}
@media screen and (max-width: 767px){
    .content-text h1 {
        font-size: 35px;
        font-weight: 500;
        
    }
}
@media screen and (max-width: 575px){
    .main-img{
        min-height: 300px;
    }
    
}