
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Advent Pro ", sans-serif;
}



:root {
  
    --primary-background-color: rgb(255 255 255);
     --primary-text-color:rgb(34 34 34);
      /* --secondary-text-color: rgb(61, 91, 125); */
    --secondary-background-color: rgb(238, 245, 254);
    

}
/* TOP NAVIGATION */
.home-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
     /* border: 5px solid yellow;  */
    padding: 30px;
    margin: 3rem 4rem 3rem 4rem;

}
.home-links{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    /* border:  5px solid red; */
    
}
.home-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
     /* border:   2px solid palevioletred ;  */
}

.home-individualNav-links ul {
   
    display: flex;
   justify-content: center;
    align-items: center;
    gap: 20px;
    
     /* flex-grow: 1; */
     /* border:   2px solid blue ;  */
    
}
 .nav-link{

     justify-content: center;
     align-items: center;
     text-align: center;
     text-decoration: none;
     /* margin: 10px; */
     
 }