
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Advent Pro ", sans-serif;
}



:root {
  
    --primary-background-color: rgb(255 255 255);
     --primary-text-color:rgb(34 34 34);
      /* --secondary-text-color: rgb(61, 91, 125); */
    --secondary-background-color: rgb(238, 245, 254);
    

}
/* TOP NAVIGATION */
 body{
  font-family:  "Advent Pro", sans-serif;

} 
.home-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
     /* border: 5px solid yellow;  */
    padding: 30px;
    margin: 3rem 4rem 3rem 4rem;

}
.home-links{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    /* border:  5px solid red; */
    
}
.home-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
     /* border:   2px solid palevioletred ;  */
}

.home-individualNav-links ul {
   
    display: flex;
   justify-content: center;
    align-items: center;
    gap: 20px;
    
     /* flex-grow: 1; */
     /* border:   2px solid blue ;  */
    
}
 .nav-link{

     justify-content: center;
     align-items: center;
     text-align: center;
     text-decoration: none;
     /* margin: 10px; */
     
 }

 .featured-topic-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:2px solid blue ; */
    width: 80vw;
    margin: auto;
    text-align: center;

 }

 .featured-topic-viewAll{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 15px;
 }
.featured-topic{
    font-size: 48px;
    font-weight: 600;
    line-height: 57px; 
}

/* CARDS UNDER FATURED TOPICS */
.cards-wrapper{
    border:10px solid blue ; 
    width: 80vw;
    margin: auto;
    text-align: center;
    display: flex;
    /* flex-direction: column;  */
    justify-content: space-around;
    flex-wrap: wrap;

    /* gap: 100px; */

}
 
.general{
    display: flex;
     flex-direction: column;   
    border:4px solid yellow ;
    gap:30px
} 

.individual-card-container{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    width: 50vw;
    height: 45vh;
    border:5px solid yellowgreen;
}

.cards-background-img{
    border:5px solid red;
    width: 35vw;
    height: 44vh;
    position: relative;
    background-image: url('https://html.themesdeveloper.net/newlog/assets/img/blog/featured-topic-1.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

}
.design{
    /* border: 3px solid palegreen; */
    
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    top: 20px;
   background: linear-gradient(91.85deg, #007aea 0%, #00c2ff 100%);
        padding: 0px 10px;
        color: white;
       border-radius: 8px;
        font-size: 14px;
        text-transform: capitalize;
}

.cards-main-writeUp{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:30vw ;
    gap: 0px;
    line-height: 1; 
     border: 5px solid purple; 
}

.news-brief{

    font-size: 30px;
    line-height: 39px;
    font-family: "Advent Pro", sans-serif;
    color: #222222;
 
}
.news-details{

        font-size: 16px;
        line-height: 170%;
        color: #3d5b7d;
        font-weight: 400;
        font-family: "Titillium Web", sans-serif;
        
}
.author-date{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    /* border: 10px solid whitesmoke; */
}
.date{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
.date-feb{
    color: #3d5b7d;
}

.arrow-line{
display: flex;
flex-direction: column;
position:relative
}
.horizontal-line1{
    
    border: 1px solid whitesmoke;
    width: 250px;
    height: 3px;
    
}

.arrow-rightHight{
    display: flex;

}

 .arrow{
     border: 5px solid whitesmoke;
     width: 80px;
     height: 80px;
     border-radius: 50%;
     font-size: 20px;
     font-weight: 600;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #007aea;
 }
 a.arrow{
    text-decoration:none;
    width: 80px;
     height: 80px;
} 
  
a.arrow:hover{
  
    background: linear-gradient(91.85deg, #007aea 0%, #00c2ff 100%);
   color:white ;
}

/* CATEGORY SECTION */

.horizontal-line2{
    border: 5px solid linear-gradient(91.85deg, #007aea 0%, #00c2ff 100%)  ;
    /* position: absolute; */
    margin-top: 5px;
    /* margin-left:8px ; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 18vw;
    height: 15px;
    border-radius: 15px;
    background:linear-gradient(91.85deg, #007aea 0%, #00c2ff 100%);
}
.category-container{
    border: 5px solid whitesmoke ;
    width: 20vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.cat-heading{

    border: 5px solid whitesmoke;
    height: 70px;
    width: 19vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    border-radius: 15px; 
}

.home-garden-wrapper{
    border: 5px solid whitesmoke;
    height: 70px;
    width: 19vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
}

.home-and-garden{
    display: flex;
    gap: 40px;
}
.icon-img1{
    width: 70px;
    height: 60px;
}
a.homeGarden-writeUP{
    text-decoration:none;
    
} 